ul.new__list-post {
    li.post__item {
        padding-top: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #a8a8a8;
        div.post__item-content {
            div.post-image {
                img {
                    max-width: 100%;
                    height: fit-content;
                }
            }
            div.entry-meta {
                i {
                    margin-right: 5px;
                }
                .date-time {
                    margin-right: 20px;
                }
            }
            div.post-description {
                h3 {
                    font-size: 18px;
                    line-height: 24px;
                }
                p {
                    margin-bottom: 15px;
                    font-size: 14px;
                }
                .btn-main {
                    padding: 10px 25px;
                }
            }
        }
    }
}
nav {
    margin-top: 30px;
    margin-bottom: 50px;
    ul.pagination {
        justify-content: center;
        li:not(:last-child) {
            margin-right: 5px;
        }
        li.active {
            a {
                background: #cea54b !important;
                border-color:  #cea54b !important;
            }
        }
        li {
            a {
                border: 1px solid #0f2a51;
                color: #0f2a51;
                font-weight: bold;
            }
            :hover{
            	background: #cea54b !important;
                border-color:  #cea54b !important;
            }
        }
    }
}