ul.activate__list {
    margin: 30px 0;
    li {
        &:not(:last-child) {
            margin-bottom: 40px;
        }
        .list__item-content {
            display: flex;
            padding-left: 50px;
            position: relative;
            align-items: flex-start;
        }
        .activate-date {
            position: absolute;
            left: 0;
            top: 30%;
            transform: translateY(-50%);
            width: 65px;
            height: 65px;
            background: #cea54b;
            text-align: center;
            padding: 5px;
        }
        .activate-day {
            font-size: 30px;
            font-weight: bold;
            line-height: 30px;
            position: relative;
            color: #fff;
            &:after {
                content: "";
                display: block;
                position: absolute;
                width: 50px;
                height: 1px;
                background: #fff;
                transform: translateX(-50%);
                left: 50%;
            }
        }
        .activate-month {
            color: #fff;
            line-height: 30px;
        }
        .activate-description {
            margin-left: 20px;
            .activate-sub {
                -webkit-line-clamp: 3;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-top: 15px;
                margin-bottom: 15px;
            }
            .activate-location {
                color: #666;
                font-style: italic;
                i {
                    margin-right: 5px;
                    color: #cea54b;
                }
            }
        }
    }
}
.activate-link {
    white-space: nowrap;
}
.button-show-more {
    margin-left: 110px;
    display: block;
}
.activate-image img {
    width: 240px;
    height: 160px;
}