/* ================== 7,Registration ==================*/
.section__registration {
    background: url("../images/Layerbottom.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.form__registration {
    .form-group {
        .form-control {
            background: #f2f2f2;
            &:focus {
                box-shadow: none;
                outline: 0;
                border-color: #fff;
                background: #fff;
            }
        }
        .icon-input {
            float: right;
            margin-top: -30px;
            margin-right: 15px;
            color: #cea54b;
        }
    }
}
.button-registration {
    margin-top: 30px;
}