@media (max-width: 991px){
    .portfolio__right img{
        height: auto;
    }
    .portfolio__right{
        width: auto;
        height: auto;
    }
}
@media (min-width: 767px) and (max-width: 991px){
	.product__content .product__item-title h4{
		    line-height: 18px;
	}
    .portfolio__left-bottom{
        & a:first-child{
            margin-bottom: 8px !important;
        }
    }
}
@media (max-width: 767px) {
    .portfolio__left {
        margin-bottom: 20px;
    }
    ul.activate__list li {
        .list__item-content {
            display: block;
            padding-left: 0;
            .activate-date{
            	top: 0;
            }
            .activate-image{
            	img{
            		width: 100%;
            		height: 200px;
            	}
            }
            .activate-description {
                margin-left: 0;
                margin-top: 15px;
                .activate-sub {
                    margin-top: 5px;
                    margin-bottom: 5px;
                    -webkit-line-clamp: 5;
                }
                .activate-location{
                	margin-bottom: 10px;
                }
            }
        }
    }
    .button-show-more{
    	margin: auto;
    }
    .section-heading{
    	line-height: 42px;
    }
}
@media (max-width: 575px){
	.btn-main{
		padding: 5px 10px;
	}
}