.section__story {
    background: #f2f2f2;
}
.story__content {
    .quote {
        margin: 20px 0;
        color: #cea54b;
    }
    .slide__story {
        &-description {
            background: #fff;
            border: 1px solid #d3d3d3;
            padding: 15px;
            margin-bottom: 25px;
            border-radius: 2px;
            position: relative;
            &:after {
                content: "";
                display: block;
                position: absolute;
                width: 20px;
                height: 20px;
                border: 1px solid;
                border-color: transparent #d3d3d3 #d3d3d3 transparent;
                background-color: #fff;
                left: 50%;
                -webkit-transform: translateX(-50%)rotate(45deg);
                -moz-transform: translateX(-50%)rotate(45deg);
                -ms-transform: translateX(-50%)rotate(45deg);
                -o-transform: translateX(-50%)rotate(45deg);
                transform: translateX(-50%)rotate(45deg);
                bottom: -10px;
            }
        }
        &-image {
            img {
                width: 100px !important;
                height: 100px;
                border-radius: 50%;
                border: 3px solid #0f2a51;
                margin: auto;
            }
        }
        &-name {
            margin: 10px 0;
            font-size: 16px;
        }
        &-wishes {
            font-style: italic;
        }
        &-text {
            margin-bottom: 15px;
        }
    }
}