.product__content-container {
     /* product heading*/
    div.product__content {
        div.product__content-heading {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            h4 {
                font-size: 16px;
                line-height: 22px;
                font-weight: bold;
                text-transform: uppercase;
                color: #333333;
            }
            span {
                width: 40px;
                height: 40px;
                margin-left: 10px;
                background: #0f2a51;
                display: inline-block;
                border-radius: 50%;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                img {
                    max-width: fit-content;
                }
            }
        }
        p.product__content-sub {
            line-height: 22px;
            margin-bottom: 25px;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
    div.product__content.content-right {
        div.product__content-heading {
            justify-content: flex-start;
            span {
                margin-left: 0;
                margin-right: 5px;
            }
        }
    }
    /* product registration */
    div.product-registration {
        padding: 30px 0;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        form.form__registration {
            .form-group {
                .form-control {
                    textarea {
                        padding-bottom: 10px;
                    }
                    &:focus {
                        border-color: #ced4da;
                    }
                }
            }
            button {
                display: block;
                margin: auto;
            }
        }
    }
    /* product feed back */
    div.feedback {
        padding: 30px 0;
        .owl-feedback-item {
            padding-top: 25px;
            .feedback-video {
                border-radius: 2px;
                position: relative;
                margin-bottom: 30px;
                a {
                    display: block;
                    &:after {
                        content: "";
                        display: block;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        position: absolute;
                        background: linear-gradient(to bottom, #3333 65%, #333 99%);
                    }
                    span.button-video {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        z-index: 99;
                        color: #cea54b;
                        -webkit-transition: all .25s ease;
                        -moz-transition: all .25s ease;
                        -ms-transition: all .25s ease;
                        -o-transition: all .25s ease;
                        transition: all .25s ease;
                        -webkit-transform: translate(-50%, -50%);
                        -moz-transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%);
                        -o-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                    }
                    p {
                        position: absolute;
                        bottom: 0;
                        left: 10px;
                        z-index: 99;
                        color: #fff;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}
/* responsive product */
@media (max-width: 575px) {
    .product__content-container div.feedback .owl-feedback-item .feedback-video a p {
        font-size: 12px;
    }
    .product__content-container div.product__content div.product__content-heading{
    	justify-content: flex-start;
    }

    .product__content-container div.product__content div.product__content-heading h4{
    	order: 2
    }
    .product__content-container div.product__content div.product__content-heading span{
    	order: 1;
    	margin-left: 0;
    	margin-right: 5px;
    }
    .product__content.content-right .product-content-item:first-child{
    	margin-top: 25px;
    } 
}
@media (max-width: 767px) {
    .product__content-container div.product__content div.product__content-heading h4 {
        font-size: 14px;
    }
    .product__content-container div.product__content p.product__content-sub {
        line-height: 18px;
    }
}